//EN ESTE ARCHIVO SE AGREGAN LAS VARIABLES

//VARIABLES DE LA MARCA

$color-primary: #004225; //color primario de la marca #004225
$color-secondary: #abb1b8;  //color secudario de la marca #abb1b8
$color-third:white;
$color-fourth:#00422592;

$font-style-brand: Raleway;
